html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "say") Email:
            input(name = "say" value = "Hi")
         br
         div
            label(for = "to") comment:
            input(name = "to" value = "Express forms")
         br
         button(type = "submit") Send my greetings